*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    width: 100vw;
    background-color: bisque;
    
}
.card-container{
    max-width: 560px;
    background-color: white;
    position: relative;

}
.card2{
    
}